@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AgileWorks Test Work by Rene Jakovlev</h1>
    <p>You can view the solved task under the Entries tab.</a>.</p>
</div>

